<form action="/article/add" method="post">
    <label for="title">Title</label>
    <br />
    <input type="text" name="title" required/>
    <br />
    <label for="description">Description</label>
    <br />
    <textarea name="description" required></textarea>
    <br />
    <input type="submit" value="Add" />
</form>